<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{!-- takes all the content from the header.hbs file and puts it in header --}}
        {{>header}}
    </div>
    {{>footer}}
</body>
</html>