


{{!-- this will appear in every page --}}
<header>
    {{!-- takes the title property of all the route objects and places them in here --}}
    <h1>{{title}}</h1> 
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>